<!DOCTYPE HTML>

<html>
{% load static %}
<script type="text/jscript">
  function generate(str) {

    var original = document.getElementById("text").value;

    var oShell = WScript.CreateObject("WScript.Shell");
    var ret = oShell.Run('cmd python ../../Synonym/ParseSentence.py ' + original, 1 /* SW_SHOWNORMAL */, true /* bWaitOnReturn */);
    WScript.Echo("ret " + ret);
    document.getElementById("msg").innerHTML = ret;
    return true;
  }
</script>

<head>
  <title>ReText</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="{% static "ReTextWebsite/style/style.css"%}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1>Re<span class="logo_colour">Text</span></h1>
          <h2>Simply rephrase your text file</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="page.html">Home</a></li>
          <li class="selected"><a href="rephrase.html">Rephrase</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <h1>Latest News</h1>
        <h4>Aluma is the queen of the world</h4>
        <h5>January 1st, 2010</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit<br /><a href="#">Read more</a></p>
        <h4>Arad saw aliens</h4>
        <h5>January 2st, 2010</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit<br /><a href="#">Read more</a></p>
      </div>

      <img id="content">
        <img src="{% static "ReTextWebsite/UploadFile.png"%}"></img>

      <form form action="" id="re-form" onsubmit="return generate()">
        <p><span>Text</span><textarea class="contact textarea" id="text" rows="8" cols="50" name="text"></textarea></p>
        <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="submit"/></p>
      </form>
      <ul id="msg"> </ul>
    </div>
    </div>
</body>
</html>
